//import markup from markup;
//import container as usernameContainer from usernameContainer;
//import container as messageContainer from timestampCompact;

/markup {
	color: pink;
}

/usernameContainer {
	background-color: green;
}

/messageContainer {
	background-color: #222;
}
